*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background-image: linear-gradient(to left,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 50%,
    rgb(123, 245, 123) 50%,
    rgb(70, 253, 70) 100%); */
    /* background-color: #f8f9fa;
    background-image: radial-gradient
    (circle at 1px 1px,
    rgba(0,0,0,0.05) 1px,
    transparent 0); */
    background-image: linear-gradient(
        to bottom left, white 50%,
        rgb(61, 247, 61) 50%
    );
    height: 100vh;
}